## Read the data

In [10]:
import pandas as pd
import numpy as np
import json

In [11]:
city_data = pd.read_csv('yearly_city_surgery.csv', encoding='EUC-KR')

# lets drop row which does not have more than "-" in the "Surgery" column
city_data = city_data[city_data['Surgery'].str.count("-") >= 2]

# Add "Reference Surgery" column to the dataframe with the str split
city_data['Reference Surgery'] = city_data['Surgery'].str.split("-").str[1]

In [12]:
# get Monthly data where column "Monthly" is "Total"
city_data_total = city_data[city_data['Hospital Location'] == 'Total']

In [13]:
for city in city_data["Hospital Location"].unique():
    print(city, city_data[city_data['Hospital Location'] == city].shape[0])

Total 132
Seoul 132
Busan 132
Daegu 132
Incheon 132
Gwangju 132
Daejeon 132
Ulsan 132
Sejong 132
Gyeonggi 132
Gangwon 132
Chungbook 132
Chungnaam 132
Jeonbook 132
Jeonnaam 132
Gyeongbook 132
Gyeongnaam 132
Jeju 132

In [14]:
blood_demand_per_patient = {}

operation_blood_data = pd.read_csv('operation_blood_demand.csv')

for index, row in operation_blood_data.iterrows():
    if row["Transfused patients No."] != 0:
        blood_demand_per_patient[row["Operation"].lower()] = row["Total units transfused"] / row["Transfused patients No."]

In [15]:
blood_demand_per_patient

# save as json
with open('blood_demand_per_patient.json', 'w') as f:
    json.dump(blood_demand_per_patient, f)

In [16]:
city_data["Reference Surgery"]

8         Bilateral thyroidectomy
9         Bilateral thyroidectomy
10        Bilateral thyroidectomy
11        Bilateral thyroidectomy
12       Aortic valve replacement
                   ...
2587                Mastoidectomy
2588        Liver transplantation
2589        Liver transplantation
2590        Liver transplantation
2591        Liver transplantation
Name: Reference Surgery, Length: 2376, dtype: object

Check if everything is allright

In [119]:
set(city_data_total["Reference Surgery"].values) - set(february_data["Reference Surgery"].values)

set()

In [122]:
data_dict = {}
# data_dict["Total"] = None
for month in monthly_data["Monthly"].unique():
    data_dict[month] = None

In [124]:
year_columns = monthly_data.columns[4:-2]
year_columns

monthly_dict = {}

for year in year_columns:
    for month in monthly_data["Monthly"].unique():
        if month == "Total":
            continue
        monthly_dict[year + "_" + month] = None

monthly_dict

{'2006_January': None,
 '2006_February': None,
 '2006_March': None,
 '2006_April': None,
 '2006_May': None,
 '2006_June': None,
 '2006_July': None,
 '2006_August': None,
 '2006_September': None,
 '2006_October': None,
 '2006_November': None,
 '2006_December': None,
 '2007_January': None,
 '2007_February': None,
 '2007_March': None,
 '2007_April': None,
 '2007_May': None,
 '2007_June': None,
 '2007_July': None,
 '2007_August': None,
 '2007_September': None,
 '2007_October': None,
 '2007_November': None,
 '2007_December': None,
 '2008_January': None,
 '2008_February': None,
 '2008_March': None,
 '2008_April': None,
 '2008_May': None,
 '2008_June': None,
 '2008_July': None,
 '2008_August': None,
 '2008_September': None,
 '2008_October': None,
 '2008_November': None,
 '2008_December': None,
 '2009_January': None,
 '2009_February': None,
 '2009_March': None,
 '2009_April': None,
 '2009_May': None,
 '2009_June': None,
 '2009_July': None,
 '2009_August': None,
 '2009_September': None,
 '2009_October': None,
 '2009_November': None,
 '2009_December': None,
 '2010_January': None,
 '2010_February': None,
 '2010_March': None,
 '2010_April': None,
 '2010_May': None,
 '2010_June': None,
 '2010_July': None,
 '2010_August': None,
 '2010_September': None,
 '2010_October': None,
 '2010_November': None,
 '2010_December': None,
 '2011_January': None,
 '2011_February': None,
 '2011_March': None,
 '2011_April': None,
 '2011_May': None,
 '2011_June': None,
 '2011_July': None,
 '2011_August': None,
 '2011_September': None,
 '2011_October': None,
 '2011_November': None,
 '2011_December': None,
 '2012_January': None,
 '2012_February': None,
 '2012_March': None,
 '2012_April': None,
 '2012_May': None,
 '2012_June': None,
 '2012_July': None,
 '2012_August': None,
 '2012_September': None,
 '2012_October': None,
 '2012_November': None,
 '2012_December': None,
 '2013_January': None,
 '2013_February': None,
 '2013_March': None,
 '2013_April': None,
 '2013_May': None,
 '2013_June': None,
 '2013_July': None,
 '2013_August': None,
 '2013_September': None,
 '2013_October': None,
 '2013_November': None,
 '2013_December': None,
 '2014_January': None,
 '2014_February': None,
 '2014_March': None,
 '2014_April': None,
 '2014_May': None,
 '2014_June': None,
 '2014_July': None,
 '2014_August': None,
 '2014_September': None,
 '2014_October': None,
 '2014_November': None,
 '2014_December': None,
 '2015_January': None,
 '2015_February': None,
 '2015_March': None,
 '2015_April': None,
 '2015_May': None,
 '2015_June': None,
 '2015_July': None,
 '2015_August': None,
 '2015_September': None,
 '2015_October': None,
 '2015_November': None,
 '2015_December': None,
 '2016_January': None,
 '2016_February': None,
 '2016_March': None,
 '2016_April': None,
 '2016_May': None,
 '2016_June': None,
 '2016_July': None,
 '2016_August': None,
 '2016_September': None,
 '2016_October': None,
 '2016_November': None,
 '2016_December': None,
 '2017_January': None,
 '2017_February': None,
 '2017_March': None,
 '2017_April': None,
 '2017_May': None,
 '2017_June': None,
 '2017_July': None,
 '2017_August': None,
 '2017_September': None,
 '2017_October': None,
 '2017_November': None,
 '2017_December': None,
 '2018_January': None,
 '2018_February': None,
 '2018_March': None,
 '2018_April': None,
 '2018_May': None,
 '2018_June': None,
 '2018_July': None,
 '2018_August': None,
 '2018_September': None,
 '2018_October': None,
 '2018_November': None,
 '2018_December': None,
 '2019_January': None,
 '2019_February': None,
 '2019_March': None,
 '2019_April': None,
 '2019_May': None,
 '2019_June': None,
 '2019_July': None,
 '2019_August': None,
 '2019_September': None,
 '2019_October': None,
 '2019_November': None,
 '2019_December': None,
 '2020_January': None,
 '2020_February': None,
 '2020_March': None,
 '2020_April': None,
 '2020_May': None,
 '2020_June': None,
 '2020_July': None,
 '2020_August': None,
 '2020_September': None,
 '2020_October': None,
 '2020_November': None,
 '2020_December': None,
 '2021_January': None,
 '2021_February': None,
 '2021_March': None,
 '2021_April': None,
 '2021_May': None,
 '2021_June': None,
 '2021_July': None,
 '2021_August': None,
 '2021_September': None,
 '2021_October': None,
 '2021_November': None,
 '2021_December': None,
 '2022_January': None,
 '2022_February': None,
 '2022_March': None,
 '2022_April': None,
 '2022_May': None,
 '2022_June': None,
 '2022_July': None,
 '2022_August': None,
 '2022_September': None,
 '2022_October': None,
 '2022_November': None,
 '2022_December': None}

In [125]:
monthly_data[monthly_data["Monthly"] == "Total"]["2013"]

12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
       ..
211   NaN
212   NaN
213   NaN
214   NaN
215   NaN
Name: 2013, Length: 198, dtype: float64

In [128]:
for key in monthly_dict.keys():
    year = key.split("_")[0]
    month = key.split("_")[1]
    rows = monthly_data[(monthly_data["Monthly"] == month)]
    # print(rows)
    # find rows that have "Surgery Received Person[person]" in "Category"
    person_rows = rows[rows["Category"].str.contains("Surgery Received Person")]
    for index, row in person_rows.iterrows():
        reference_surgery = row["Reference Surgery"]
        blood_usage_per_patient = blood_demand_per_patient[str(reference_surgery).lower().strip()]
        # if year == "2013" and month == "Total":
        #     print(reference_surgery, blood_usage_per_patient, row[year])
        #     print(np.isnan(row[year]))
            
        if not np.isnan(row[year]):
            value = blood_usage_per_patient * row[year]
            if np.isnan(value):
                print(blood_demand_per_patient, row[year])
            monthly_dict[key] += blood_usage_per_patient * row[year]

In [130]:
print(monthly_dict)

# save as json
with open('monthly_blood_demand.json', 'w') as f:
    json.dump(monthly_dict, f)

# create yearly dict

yearly_dict = {}
for key in monthly_dict:
    year = key.split("_")[0]
    if year not in yearly_dict:
        yearly_dict[year] = 0
    yearly_dict[year] += monthly_dict[key]

with open('yearly_blood_demand.json', 'w') as f:
    json.dump(yearly_dict, f)

{'2006_January': 196711.7428308683, '2006_February': 185407.7323187022, '2006_March': 185956.20413796254, '2006_April': 170128.14445368515, '2006_May': 180705.31702672786, '2006_June': 177727.56674422562, '2006_July': 185994.05129152545, '2006_August': 199599.20769424454, '2006_September': 176625.4893819863, '2006_October': 171376.40604616594, '2006_November': 176272.67755778495, '2006_December': 176788.9408387035, '2007_January': 232617.93086487046, '2007_February': 188365.03674390895, '2007_March': 207084.93039855192, '2007_April': 192578.69276279546, '2007_May': 199525.5815918509, '2007_June': 189785.53081570324, '2007_July': 207533.22149263308, '2007_August': 215073.38314863486, '2007_September': 179771.7553836934, '2007_October': 201892.07345512163, '2007_November': 186695.42259547368, '2007_December': 181651.0166107151, '2008_January': 236116.5657807982, '2008_February': 185492.4439113339, '2008_March': 201311.71071066937, '2008_April': 187723.91352748653, '2008_May': 187779.78013141057, '2008_June': 193201.22531864085, '2008_July': 209003.02712765205, '2008_August': 195317.2678573924, '2008_September': 184662.25183452855, '2008_October': 164046.48389817146, '2008_November': 173700.79470349743, '2008_December': 181156.78882044306, '2009_January': 231100.565751321, '2009_February': 216214.39509722075, '2009_March': 222458.22981118097, '2009_April': 208057.53131784694, '2009_May': 202222.00313435227, '2009_June': 206459.51945592408, '2009_July': 226685.37524901773, '2009_August': 223676.4681650879, '2009_September': 211059.80912466804, '2009_October': 207681.04527619173, '2009_November': 197185.60901779283, '2009_December': 213567.99133333564, '2010_January': 253736.79882104957, '2010_February': 209059.66098500355, '2010_March': 240767.92292347184, '2010_April': 218650.98500141632, '2010_May': 216722.12017469702, '2010_June': 224295.28472293407, '2010_July': 223433.5751788724, '2010_August': 231841.22176234308, '2010_September': 199557.32601729225, '2010_October': 209294.29111756696, '2010_November': 206249.31501088242, '2010_December': 207747.5296812927, '2011_January': 251056.78041213943, '2011_February': 203055.3595146655, '2011_March': 237507.639662217, '2011_April': 211393.1776363372, '2011_May': 218429.80219180655, '2011_June': 216756.16763203614, '2011_July': 217964.28124021055, '2011_August': 202697.52487869264, '2011_September': 166095.0742621206, '2011_October': 198109.65532228016, '2011_November': 202251.25866725037, '2011_December': 205383.2883394755, '2012_January': 256939.3281065706, '2012_February': 237632.21710664974, '2012_March': 231148.93217969962, '2012_April': 217459.61641327193, '2012_May': 226287.26096303304, '2012_June': 215998.1048720053, '2012_July': 242901.43989205838, '2012_August': 237525.58231927207, '2012_September': 207630.21739628242, '2012_October': 226706.3182176626, '2012_November': 214627.16198762483, '2012_December': 207212.3755815637, '2013_January': 272812.5045778155, '2013_February': 215760.36027522534, '2013_March': 225725.30685711658, '2013_April': 217552.85959874606, '2013_May': 219132.87621131216, '2013_June': 206769.57437041803, '2013_July': 234329.61529824047, '2013_August': 220331.14936992884, '2013_September': 204182.35738664874, '2013_October': 212758.98479274128, '2013_November': 203528.7524246916, '2013_December': 218600.49761820966, '2014_January': 246832.72851498154, '2014_February': 233099.0872055488, '2014_March': 226198.15615036114, '2014_April': 214765.66700765333, '2014_May': 208751.31263446892, '2014_June': 209894.027113329, '2014_July': 230808.56293291095, '2014_August': 218787.87037153324, '2014_September': 214008.90333167103, '2014_October': 210554.54710446662, '2014_November': 200331.9499423891, '2014_December': 216245.61275669234, '2015_January': 257479.98026169627, '2015_February': 201110.5329729779, '2015_March': 235753.90913039597, '2015_April': 217681.69580869694, '2015_May': 208414.19250674004, '2015_June': 191145.73433153128, '2015_July': 217930.01546850192, '2015_August': 224111.42208738797, '2015_September': 205480.0162684934, '2015_October': 218090.00785117978, '2015_November': 214013.66102825862, '2015_December': 222673.4413486258, '2016_January': 257255.82192251625, '2016_February': 218221.49318960664, '2016_March': 243786.91941723615, '2016_April': 212938.4940357246, '2016_May': 226348.64092814084, '2016_June': 218024.93556922275, '2016_July': 222981.3393617682, '2016_August': 229469.01166570286, '2016_September': 208373.0207873597, '2016_October': 210007.2025546197, '2016_November': 215105.15873412226, '2016_December': 215707.89112434845, '2017_January': 248593.05036515772, '2017_February': 221556.54180854937, '2017_March': 230494.25571403868, '2017_April': 211517.71233659156, '2017_May': 224905.37300108225, '2017_June': 218523.19515637116, '2017_July': 227873.166260689, '2017_August': 233221.51730584394, '2017_September': 217053.08339136935, '2017_October': 199837.69574568816, '2017_November': 215398.83237156682, '2017_December': 207274.7607318146, '2018_January': 268336.86669154296, '2018_February': 203603.12541066384, '2018_March': 228994.95853863528, '2018_April': 221220.626339048, '2018_May': 224780.9652839967, '2018_June': 209584.5577621233, '2018_July': 235245.54065561766, '2018_August': 228262.07980169158, '2018_September': 197527.64835945057, '2018_October': 225250.91972413062, '2018_November': 218954.72055830096, '2018_December': 215430.88559288363, '2019_January': 270830.5380857068, '2019_February': 210462.30316926536, '2019_March': 230232.13840234987, '2019_April': 227327.81177921416, '2019_May': 229533.6860176883, '2019_June': 216081.2028158578, '2019_July': 245535.01720764805, '2019_August': 228115.80546348036, '2019_September': 217398.327895815, '2019_October': 223405.9276013775, '2019_November': 221189.2833056228, '2019_December': 227011.84453977074, '2020_January': 245817.22524663815, '2020_February': 210356.67986142225, '2020_March': 204061.96474561965, '2020_April': 198635.83776659548, '2020_May': 214977.35774121017, '2020_June': 227360.94583568626, '2020_July': 232361.32285739717, '2020_August': 211480.08042483585, '2020_September': 206089.18652948804, '2020_October': 215855.12852926887, '2020_November': 217743.6296795271, '2020_December': 217023.5166524347, '2021_January': 241231.13737916457, '2021_February': 202332.5714042156, '2021_March': 248139.91117809716, '2021_April': 229926.18598165608, '2021_May': 221972.40851327576, '2021_June': 231408.91877730796, '2021_July': 236336.3666190687, '2021_August': 234201.20734129526, '2021_September': 213606.02823620214, '2021_October': 223119.86289892983, '2021_November': 231008.88866309842, '2021_December': 218751.73623414416, '2022_January': 247283.16018764244, '2022_February': 211380.1875258438, '2022_March': 226492.61846414104, '2022_April': 225533.52406590752, '2022_May': 239649.45072066927, '2022_June': 236129.0285798896, '2022_July': 238732.5715674781, '2022_August': 245749.76417186635, '2022_September': 231308.56452610792, '2022_October': 230594.70264430135, '2022_November': 236277.6212240841, '2022_December': 228356.2783132639}

#### JSON common items. Year, Month, Source,

Now we need to calculate the city demand